
.card {
    border-radius: 12px !important;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-med {
    background-color: #00a896 !important;
    border-color: #00a896 !important;
    color: white !important;
}

.btn-med:hover {
    background-color: #028074 !important;
    border-color: #028074 !important;
}

.custom-header {
    border-bottom: 3px solid #00a896;
}
